body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  padding: 20px;
  text-align: center;
}
header {
  border: 10px solid #1372a8;
  border-radius: 20px;
  font-size: 18px;
}
.nome {
  text-align: center;
  font-size: 20px;
  margin-left: 40px;

}

form {
  margin-bottom: 20px;
}

label {
  display: inline-block;
  width: 100px;
  text-align: left;
}

input {
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #1372a8;
  color: white;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
